.readOnlyCell,.readOnlyCellDark,.readOnlyCellOver,.readOnlyCellOverDark,.readOnlyCellSelected,.readOnlyCellSelectedDark,.readOnlyCellSelectedOver,.readOnlyCellSelectedOverDark,.readOnlyCellDisabled,.readOnlyCellDisabledDark
	{
	font-family: Verdana, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: #333333;
	border-right: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
}

.readOnlyCell {
	background: #FFFFDD;
}

.readOnlyCellDark {
	background: #FFFFCC;
}

.readOnlyCellOver,.readOnlyCellOverDark {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FFFFFF
		url(./sc/skins/Enterprise/images/ListGrid/row_Over.png) repeat-x
		scroll left bottom;
}

.readOnlyCellSelected,.readOnlyCellSelectedDark {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FFFFFF
		url(./sc/skins/Enterprise/images/ListGrid/row_Selected.png) repeat-x
		scroll left bottom;
}

.readOnlyCellSelectedOver,.readOnlyCellSelectedOverDark {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FFFFFF
		url(./sc/skins/Enterprise/images/ListGrid/row_Selected_Over.png)
		repeat-x scroll left bottom;
}

.readOnlyCellDisabled,.readOnlyCellDisabledDark {
	color: #AAAAAA;
	background-color: #FFFFFF;
}

.expPicker,.expPickerFocused,.expPickerDisabled,.expPickerHint {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	padding: 0 2px;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FFFFFF
		url(./sc/skins/Enterprise/images/controls/text_input.gif) repeat-x
		scroll 0 0;
	border: 1px solid #9CB0CE;
	color: #333333;
}

.graphObjectImageWrapper,.graphObjectImageWrapperHover {
	background-color: white;
	border: 1px solid black;
}

.graphObjectImageWrapperHover {
	background-color: rgb(165, 231, 255);
}

.graphObjectImageWrapperActive,.graphObjectImageWrapperActiveHover {
	background-color: yellow;
	border: 2px solid black;
}

.graphObjectLabel,.graphObjectLabelHover,.graphObjectLabelActive,.graphObjectLabelActiveHover
	{
	font-size: 11px;
}

.graphObjectLabelActive,.graphObjectLabelActiveHover {
	font-weight: bold;
	text-decoration: underline;
}

.textItem,.textItemFocused,.textItemDisabled,.textItemError,.textItemHint,.selectItemText,.selectItemTextError,.selectItemTextFocused,.selectItemTextDisabled,.selectItemTextHint
	{
	width: 100%;
}

.windowStackLine {
	background: #FFFFFF
		url(./sc/skins/Enterprise/images/ListGrid/header.png) repeat-x bottom
		left scroll;
	border-left: 1px solid rgb(246, 247, 249);
	border-right: 1px solid rgb(200, 204, 207);
}

.windowStackLineActive {
	background: #FFFFFF
		url(./sc/skins/Enterprise/images/ListGrid/header_Selected.png)
		repeat-x bottom left scroll;
	border-left: 1px solid rgb(228, 242, 255);
	border-right: 1px solid rgb(200, 204, 208);
}

.HTMLCellLink {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	text-overflow: ellipsis;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}