<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>UIRServer</display-name>
	<resource-ref>
		<res-ref-name>jdbc/db</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Application</res-auth>
	</resource-ref>
	<filter>
		<display-name>AuthorizationFilter</display-name>
		<filter-name>AuthorizationFilter</filter-name>
		<filter-class>filter.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthorizationFilter</filter-name>
		<url-pattern>/secure/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>PortfolioFilter</display-name>
		<filter-name>PortfolioFilter</filter-name>
		<filter-class>filter.PortfolioFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PortfolioFilter</filter-name>
		<url-pattern>/secure/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>NavigationTreeServlet</display-name>
		<servlet-name>NavigationTreeServlet</servlet-name>
		<servlet-class>servlet.configuration.NavigationTreeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NavigationTreeServlet</servlet-name>
		<url-pattern>/secure/sc/NavigationTreeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.registration.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/sc/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logoff</display-name>
		<servlet-name>Logoff</servlet-name>
		<servlet-class>servlet.registration.Logoff</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logoff</servlet-name>
		<url-pattern>/sc/Logoff</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>servlet.registration.ChangePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/secure/sc/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PortfolioList</display-name>
		<servlet-name>PortfolioList</servlet-name>
		<servlet-class>servlet.portfolio.PortfolioList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortfolioList</servlet-name>
		<url-pattern>/sc/PortfolioList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PortfolioPick</display-name>
		<servlet-name>PortfolioPick</servlet-name>
		<servlet-class>servlet.portfolio.PortfolioPick</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortfolioPick</servlet-name>
		<url-pattern>/sc/PortfolioPick</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PortfolioNew</display-name>
		<servlet-name>PortfolioNew</servlet-name>
		<servlet-class>servlet.portfolio.PortfolioNew</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortfolioNew</servlet-name>
		<url-pattern>/sc/PortfolioNew</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Portfolio</display-name>
		<servlet-name>Portfolio</servlet-name>
		<servlet-class>servlet.portfolio.Portfolio</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Portfolio</servlet-name>
		<url-pattern>/secure/sc/Portfolio</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PortfolioInit</display-name>
		<servlet-name>PortfolioInit</servlet-name>
		<servlet-class>servlet.portfolio.PortfolioInit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PortfolioInit</servlet-name>
		<url-pattern>/sc/PortfolioInit</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TickerList</display-name>
		<servlet-name>TickerList</servlet-name>
		<servlet-class>servlet.ticker.TickerList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TickerList</servlet-name>
		<url-pattern>/sc/TickerList</url-pattern>
	</servlet-mapping>
</web-app>