<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UIRServer</display-name>
  <resource-ref>
    <res-ref-name>jdbc/db</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Application</res-auth>
  </resource-ref>
  <filter>
    <display-name>GZIPFilter</display-name>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>filter.GZIPFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SC-ContentTypeFilter</display-name>
    <filter-name>SC-ContentTypeFilter</filter-name>
    <filter-class>filter.ContentTypeFilter</filter-class>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>application/json; charset=UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SC-ContentTypeFilter</filter-name>
    <url-pattern>/secure/sc/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SC-ContentTypeFilter</filter-name>
    <url-pattern>/sc/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>RequestCharacterEncodingFilter</display-name>
    <filter-name>RequestCharacterEncodingFilter</filter-name>
    <filter-class>filter.RequestCharacterEncodingFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>characterEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RequestCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AuthorizationFilter</display-name>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ProfileFilter</display-name>
    <filter-name>ProfileFilter</filter-name>
    <filter-class>filter.ProfileFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProfileFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.registration.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/sc/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TreeData</display-name>
    <servlet-name>TreeData</servlet-name>
    <servlet-class>servlet.tree.TreeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreeData</servlet-name>
    <url-pattern>/secure/sc/TreeData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ColumnList</display-name>
    <servlet-name>ColumnList</servlet-name>
    <servlet-class>servlet.metadata.ColumnList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ColumnList</servlet-name>
    <url-pattern>/secure/sc/ColumnList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Data</display-name>
    <servlet-name>Data</servlet-name>
    <servlet-class>servlet.data.Data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Data</servlet-name>
    <url-pattern>/secure/sc/Data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Params</display-name>
    <servlet-name>Params</servlet-name>
    <servlet-class>servlet.metadata.Params</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Params</servlet-name>
    <url-pattern>/secure/sc/Params</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DimDisplayValue</display-name>
    <servlet-name>DimDisplayValue</servlet-name>
    <servlet-class>servlet.data.DimDisplayValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DimDisplayValue</servlet-name>
    <url-pattern>/secure/sc/DimDisplayValue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transitions</display-name>
    <servlet-name>Transitions</servlet-name>
    <servlet-class>servlet.transitions.Transitions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transitions</servlet-name>
    <url-pattern>/secure/sc/Transitions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransitionParams</display-name>
    <servlet-name>TransitionParams</servlet-name>
    <servlet-class>servlet.transitions.TransitionParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransitionParams</servlet-name>
    <url-pattern>/secure/sc/TransitionParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DomainValues</display-name>
    <servlet-name>DomainValues</servlet-name>
    <servlet-class>servlet.metadata.DomainValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DomainValues</servlet-name>
    <url-pattern>/secure/sc/DomainValues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoff</display-name>
    <servlet-name>Logoff</servlet-name>
    <servlet-class>servlet.registration.Logoff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoff</servlet-name>
    <url-pattern>/sc/Logoff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SummaryData</display-name>
    <servlet-name>SummaryData</servlet-name>
    <servlet-class>servlet.data.SummaryData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SummaryData</servlet-name>
    <url-pattern>/secure/sc/SummaryData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelExport</display-name>
    <servlet-name>ExcelExport</servlet-name>
    <servlet-class>servlet.data.export.ExcelExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelExport</servlet-name>
    <url-pattern>/secure/native/Data/Export.xls</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportTemplate</display-name>
    <servlet-name>ReportTemplate</servlet-name>
    <servlet-class>servlet.publications.ReportTemplate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportTemplate</servlet-name>
    <url-pattern>/secure/sc/ReportTemplate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancel</display-name>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>servlet.Cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/secure/sc/Cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportList</display-name>
    <servlet-name>ReportList</servlet-name>
    <servlet-class>servlet.publications.ReportList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportList</servlet-name>
    <url-pattern>/secure/sc/ReportList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RSStoredPublicationList</display-name>
    <servlet-name>RSStoredPublicationList</servlet-name>
    <servlet-class>servlet.metadata.rs.RSStoredPublicationList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RSStoredPublicationList</servlet-name>
    <url-pattern>/secure/sc/RSStoredPublicationList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>servlet.publications.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/secure/native/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessedMethods</display-name>
    <servlet-name>AccessedMethods</servlet-name>
    <servlet-class>servlet.metadata.AccessedMethods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessedMethods</servlet-name>
    <url-pattern>/secure/sc/AccessedMethods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TextExport</display-name>
    <servlet-name>TextExport</servlet-name>
    <servlet-class>servlet.data.export.TextExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextExport</servlet-name>
    <url-pattern>/secure/native/Data/Export.txt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HtmlExport</display-name>
    <servlet-name>HtmlExport</servlet-name>
    <servlet-class>servlet.data.export.HtmlExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HtmlExport</servlet-name>
    <url-pattern>/secure/native/Data/Export.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GraphObjects</display-name>
    <servlet-name>GraphObjects</servlet-name>
    <servlet-class>servlet.graph.GraphObjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphObjects</servlet-name>
    <url-pattern>/secure/sc/GraphObjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GraphLinks</display-name>
    <servlet-name>GraphLinks</servlet-name>
    <servlet-class>servlet.graph.GraphLinks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphLinks</servlet-name>
    <url-pattern>/secure/sc/GraphLinks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RSColumnList</display-name>
    <servlet-name>RSColumnList</servlet-name>
    <servlet-class>servlet.metadata.rs.RSColumnList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RSColumnList</servlet-name>
    <url-pattern>/secure/sc/RSColumnList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RSExpList</display-name>
    <servlet-name>RSExpList</servlet-name>
    <servlet-class>servlet.metadata.rs.RSExpList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RSExpList</servlet-name>
    <url-pattern>/secure/sc/RSExpList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpPause</display-name>
    <servlet-name>ExpPause</servlet-name>
    <servlet-class>servlet.graph.actions.ExpPause</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpPause</servlet-name>
    <url-pattern>/secure/sc/ExpPause</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpStop</display-name>
    <servlet-name>ExpStop</servlet-name>
    <servlet-class>servlet.graph.actions.ExpStop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpStop</servlet-name>
    <url-pattern>/secure/sc/ExpStop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpContinue</display-name>
    <servlet-name>ExpContinue</servlet-name>
    <servlet-class>servlet.graph.actions.ExpContinue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpContinue</servlet-name>
    <url-pattern>/secure/sc/ExpContinue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpStart</display-name>
    <servlet-name>ExpStart</servlet-name>
    <servlet-class>servlet.graph.actions.ExpStart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpStart</servlet-name>
    <url-pattern>/secure/sc/ExpStart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SkipTAObject</display-name>
    <servlet-name>SkipTAObject</servlet-name>
    <servlet-class>servlet.graph.actions.SkipTAObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkipTAObject</servlet-name>
    <url-pattern>/secure/sc/SkipTAObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnToTAObject</display-name>
    <servlet-name>ReturnToTAObject</servlet-name>
    <servlet-class>servlet.graph.actions.ReturnToTAObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnToTAObject</servlet-name>
    <url-pattern>/secure/sc/ReturnToTAObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinishUserAction</display-name>
    <servlet-name>FinishUserAction</servlet-name>
    <servlet-class>servlet.graph.actions.FinishUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinishUserAction</servlet-name>
    <url-pattern>/secure/sc/FinishUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartUserAction</display-name>
    <servlet-name>StartUserAction</servlet-name>
    <servlet-class>servlet.graph.actions.StartUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartUserAction</servlet-name>
    <url-pattern>/secure/sc/StartUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>servlet.upload.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/secure/native/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RSDetailTransitionsList</display-name>
    <servlet-name>RSDetailTransitionsList</servlet-name>
    <servlet-class>servlet.metadata.rs.RSDetailTransitionsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RSDetailTransitionsList</servlet-name>
    <url-pattern>/secure/sc/RSDetailTransitionsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkInfo</display-name>
    <servlet-name>LinkInfo</servlet-name>
    <servlet-class>servlet.metadata.LinkInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkInfo</servlet-name>
    <url-pattern>/secure/sc/LinkInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpArchive</display-name>
    <servlet-name>ExpArchive</servlet-name>
    <servlet-class>servlet.graph.actions.ExpArchive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpArchive</servlet-name>
    <url-pattern>/secure/sc/ExpArchive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpActual</display-name>
    <servlet-name>ExpActual</servlet-name>
    <servlet-class>servlet.graph.actions.ExpActual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpActual</servlet-name>
    <url-pattern>/secure/sc/ExpActual</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TAObjectInfo</display-name>
    <servlet-name>TAObjectInfo</servlet-name>
    <servlet-class>servlet.graph.TAObjectInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAObjectInfo</servlet-name>
    <url-pattern>/secure/sc/TAObjectInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoredFile</display-name>
    <servlet-name>StoredFile</servlet-name>
    <servlet-class>servlet.data.StoredFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoredFile</servlet-name>
    <url-pattern>/secure/native/StoredFile/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoredFileInfo</display-name>
    <servlet-name>StoredFileInfo</servlet-name>
    <servlet-class>servlet.metadata.StoredFileInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoredFileInfo</servlet-name>
    <url-pattern>/secure/sc/StoredFileInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>servlet.registration.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/secure/sc/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExperimentInfo</display-name>
    <servlet-name>ExperimentInfo</servlet-name>
    <servlet-class>servlet.graph.ExperimentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExperimentInfo</servlet-name>
    <url-pattern>/secure/sc/ExperimentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DimParsedParams</display-name>
    <servlet-name>DimParsedParams</servlet-name>
    <servlet-class>servlet.metadata.DimParsedParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DimParsedParams</servlet-name>
    <url-pattern>/secure/sc/DimParsedParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserObjectInfo</display-name>
    <servlet-name>UserObjectInfo</servlet-name>
    <servlet-class>servlet.metadata.UserObjectInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserObjectInfo</servlet-name>
    <url-pattern>/secure/sc/UserObjectInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HighlightsGridTune</display-name>
    <servlet-name>HighlightsGridTune</servlet-name>
    <servlet-class>servlet.metadata.HighlightsGridTune</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HighlightsGridTune</servlet-name>
    <url-pattern>/secure/sc/HighlightsGridTune</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PresentationExistCheck</display-name>
    <servlet-name>PresentationExistCheck</servlet-name>
    <servlet-class>servlet.metadata.PresentationExistCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PresentationExistCheck</servlet-name>
    <url-pattern>/secure/sc/PresentationExistCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyShortcut</display-name>
    <servlet-name>ModifyShortcut</servlet-name>
    <servlet-class>servlet.metadata.ModifyShortcut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyShortcut</servlet-name>
    <url-pattern>/secure/sc/ModifyShortcut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LightGrid</display-name>
    <servlet-name>LightGrid</servlet-name>
    <servlet-class>servlet.data.LightGrid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LightGrid</servlet-name>
    <url-pattern>/secure/native/LightGrid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestData</display-name>
    <servlet-name>TestData</servlet-name>
    <servlet-class>servlet.data.TestData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestData</servlet-name>
    <url-pattern>/secure/sc/TestData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Document</display-name>
    <servlet-name>Document</servlet-name>
    <servlet-class>servlet.metadata.Document</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Document</servlet-name>
    <url-pattern>/secure/sc/Document</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentAttributes</display-name>
    <servlet-name>DocumentAttributes</servlet-name>
    <servlet-class>servlet.metadata.DocumentAttributes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentAttributes</servlet-name>
    <url-pattern>/secure/sc/DocumentAttributes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RSDocumentHistory</display-name>
    <servlet-name>RSDocumentHistory</servlet-name>
    <servlet-class>servlet.metadata.rs.RSDocumentHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RSDocumentHistory</servlet-name>
    <url-pattern>/secure/sc/RSDocumentHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentPerformers</display-name>
    <servlet-name>DocumentPerformers</servlet-name>
    <servlet-class>servlet.metadata.DocumentPerformers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentPerformers</servlet-name>
    <url-pattern>/secure/sc/DocumentPerformers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RSSchemeDocuments</display-name>
    <servlet-name>RSSchemeDocuments</servlet-name>
    <servlet-class>servlet.metadata.rs.RSSchemeDocuments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RSSchemeDocuments</servlet-name>
    <url-pattern>/secure/sc/RSSchemeDocuments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilesList</display-name>
    <servlet-name>ProfilesList</servlet-name>
    <servlet-class>servlet.profiles.ProfilesList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilesList</servlet-name>
    <url-pattern>/secure/sc/ProfilesList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyProfile</display-name>
    <servlet-name>ApplyProfile</servlet-name>
    <servlet-class>servlet.profiles.ApplyProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyProfile</servlet-name>
    <url-pattern>/secure/sc/ApplyProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleTuneData</display-name>
    <servlet-name>ModuleTuneData</servlet-name>
    <servlet-class>servlet.metadata.ModuleTuneData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleTuneData</servlet-name>
    <url-pattern>/secure/sc/ModuleTuneData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HtmlPresentation</display-name>
    <servlet-name>HtmlPresentation</servlet-name>
    <servlet-class>servlet.metadata.HtmlPresentation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HtmlPresentation</servlet-name>
    <url-pattern>/secure/sc/HtmlPresentation</url-pattern>
  </servlet-mapping>
</web-app>